footer {
    background-color: var(--background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%2325784a' fill-opacity='0.33' fill-rule='evenodd'/%3E%3C/svg%3E");
    border-radius: 4rem 4rem 0rem 0rem;
    overflow: hidden;
}

.footer__container {
    background-color: var(--background-color);
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

.footer__img-container {
    max-width: 100%;
}

.footer__img-container > img {
    max-width: 100%;
}

.footer__text-container h3,
.footer__text-container p {
    color: var(--text-color);
}

.footer__text-container p {
    margin-bottom: 0px !important;
    line-height: 2.3rem;
}
