#hero {
    gap: 9rem;
}

.hero-text__container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: start;
    align-items: start;
}

.hero-text__container > img {
    max-width: 100%;
}

.hero-img__container {
    max-width: 350px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hero-img__container > img {
    max-width: 100%;
}

/* Custom Button */
.btn-primary {
    background-color: var(--accent-color);
    border: 1px solid var(--background-color);
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-primary > a {
    text-decoration: none;
    color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #6cbe66;
    color: var(--text-color);
}

/* Change color of the link text when button is hovered */
.btn-primary:hover > a,
.btn-primary:focus > a,
.btn-primary:active > a {
    color: var(--text-color);
}

.btn-outline-primary {
    border: 2px var(--accent-color) solid;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-outline-primary > a {
    text-decoration: none;
    color: black;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px var(--accent-color) solid;
}

/* Change color of the link text when button is hovered */
.btn-outline-primary:hover > a,
.btn-outline-primary:focus > a,
.btn-outline-primary:active > a {
    color: var(--text-color);
}

/* End Of Custom Button */

.read-more {
    margin-top: 1rem;
    color: var(--text-color);
}

.read-more > .bi-arrow-down {
    transition: transform 0.3s ease-in-out;
}

.read-more > .bi-arrow-down:hover {
    transform: translateY(1rem);
}

/* responsives */
/* Dekstop */
@media (min-width: 768px) {
    #hero {
        margin-top: 6rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    #hero {
        gap: 3rem;
        margin-top: 4.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    /* .hero-text__container {
        justify-content: center;
        align-items: center;
        text-align: center;
    } */
}

/* Mobile */
@media (max-width: 425px) {
    #hero {
        gap: 3rem;
        margin-top: 4rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 992px) {
    #hero {
        gap: 3rem;
        flex-direction: column !important;
    }
}
