/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body {
    width: 100%;
    overflow-x: hidden;
}

/* Typhography */
* {
    font-family: "Lato", sans-serif;
}

body {
    background-color: #f0f8ff;
}

/* Color Palette */
:root {
    --background-color: #9fd69b;
    --accent-color: #25784a;
    --text-color: #3f201b;
}
